.main-information {
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 100%;
}

.text-inform h1 {
    color: #000;
    font-size: 70px;
    margin: 0;
    padding: 0;
}

.text-inform strong {
    color: #8f15e0;
    text-decoration: underline;
}

.tagline {
    color: #6f6f6f;
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.inform-link {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.inform-btn {
    border: 2px solid #8f15e0;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 15px;
    transition: .3s;
}

.read {
    color: #8f15e0;
}

.read:hover {
    color: #fff;
    background: #8f15e0;
}

.shop {
    color: #fff;
    background: #8f15e0;
}

.shop:hover {
    color: #8f15e0;
    background: #fff;
}
