.nav-menu {
    width: 20%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: #8f15e0;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: .3s;
    font-weight: bold;
}

.nav-link:hover {
    border-bottom: 2px solid #8f15e0;
}
